@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    line-height: 1;
    color: #333;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.nav-pc ul {
    list-style: none;
}

li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

input, textarea {
    border: none;
    outline: none;
}

/* リセットCSSここまで */

/* header */

body {
    background-color: #FCFCFC;
    font-family: "Noto Sans", sans-serif;
    color: #3B3B3B;
}

header {
    display: flex;
    height: 56px;
    font-size: 16px;
}

header a {
    color: #B2B2B2;
}

.recruit-nav {
    color: #3B3B3B;
}

header img {
    margin: 16px auto 0px 96px;
    width: 38px;
    height: 24px;
}

header ul {
    display: flex;
}

header ul li {
    margin: 26px 56px 0px 0px;
}

header ul li:last-child {
    margin-right: 96px;
}

/* header レスポンシブ　*/

* {
    box-sizing: border-box;
}

.logo-media {
    display: none;
}

.header-icon {
    display: none;
}

@media (max-width:375px) {
    /* ヘッダーを上部に固定 */
    header {
        box-sizing: border-box;
        background-color: #918F89;
        padding: 16px 0px;
        /* position: relative; */
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    header ul {
        display: none;
    }
    .logo-pc {
        display: none;
    }
    .logo-media {
        width: 40px;
        display: block;
        margin: 0px auto;
    }
}

/* h1 top-wrapper */

.top-wrapper {
    background-image: url(images/recruit_top.png);
    background-size: 100% 100%;
    overflow: hidden;
    height: 456px;
    margin-bottom: 161px;
    position: relative;
}

.top-wrapper h1 {
    box-sizing: border-box;
    color: #918F89;
    font-size: 30px;
    letter-spacing: 3px;
    position: absolute;
    top: 192px;
    margin: 0px auto 0px 228px;
    font-weight: normal;
}

/* h1 top-wrapper レスポンシブ　*/

.top-wrapper p {
    display: none;
}

@media (max-width:375px) {
    .top-wrapper {
        background-position: right 12% bottom;
        background-size: 2100px;
        margin-bottom: 160px;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        height: 648px;
    }
    .top-wrapper h1 {
        position: static;
        font-size: 25px;
        color: #3B3B3B;
        margin: 0 auto;
        letter-spacing: 2.5px;
    }
}

/* テーブル */

.recruitment {
    font-size: 14px;
    margin-bottom: 320px;
}

.recruitment li {
    line-height: 23px;
}

.recruitment li:before {
    content: "";
    /* 空の要素作成 */
    width: 2px;
    /* 幅指定 */
    height: 2px;
    /* 高さ指定 */
    display: inline-block;
    /* インラインブロックにする */
    background-color: #333;
    /* 背景色指定 */
    border-radius: 50%;
    /* 要素を丸くする */
    position: relative;
    /* 位置調整 */
    top: -4px;
    /* 位置調整 */
    margin-right: 5px;
    /* 余白指定 */
}

.recruitment p {
    line-height: 21px;
}

.recruitment h2 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 23px;
    letter-spacing: 2.3px;
    font-weight: normal;
}

.job {
    vertical-align: middle;
    text-align: center;
    background-color: #D1D1D1;
    font-size: 16px;
    padding: 0;
    width: 144px;
}

td {
    padding-left: 36px;
}

.occupation {
    font-size: 16px;
    margin-bottom: 8px;
}

table, td, th {
    border: 1px solid #707070;
}

table {
    margin: 0 auto;
    box-sizing: border-box;
    width: 640px;
    height: 624px;
}

/* テーブルレスポンシブ　*/

@media (max-width:375px) {
    .recruitment {
        font-size: 13px;
        margin-bottom: 256px;
    }
    table {
        width: 344px;
    }
    .job {
        font-size: 14px;
        width: initial;
        padding: 0px 6px;
    }
    .occupation {
        font-size: 15px;
    }
    td {
        padding-left: 21px;
    }
}

/* footer */

footer {
    height: 240px;
    background-color: #918F89;
    position: relative;
    padding: 120px 224px 0px 224px;
    box-sizing: border-box
}

footer img {
    position: absolute;
    top: 120px;
    left: 224px;
    width: 64px;
    height: 40px;
    overflow: hidden;
}

.nav-pc {
    margin-bottom: 61px;
}

footer ul {
    display: flex;
}

footer li:first-child {
    margin-left: auto;
}

footer li {
    margin-right: 32px;
}

footer li:last-child {
    margin-right: 0px;
}

footer a {
    color: #fff;
}

footer p {
    text-align: center;
}

footer small {
    color: #FFFFFF;
    font-size: 11px;
    letter-spacing: 0.44px;
}

/* footerレスポンシブ */

@media (max-width:375px) {
    footer {
        height: 232px;
        padding: 72px 0px 0px 0px;
    }
    footer img {
        position: static;
        display: block;
        width: 51px;
        height: 32px;
        margin: 0 auto;
        margin-bottom: 82px;
    }
    footer ul {
        display: none;
    }
    footer small {
        font-size: 10px;
        letter-spacing: 0.4px;
    }
}
