@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    color: #333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

li{
    list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

input, textarea{
    border: none;
    outline: none;
}

/* リセットCSSここまで */
/* header */

body{
    background-color: #FCFCFC;
    font-family: "Noto Sans", sans-serif;
    color: #3B3B3B;
}

header{
    display: flex;
    height: 56px;
    font-size: 16px;
}

header a{
    color: #B2B2B2;
}

.home-nav{
    color: #3B3B3B;
}

header img{
    margin: 16px auto 0px 96px;
    width: 38px;
    height: 24px;
}

header ul{
    display: flex;
}

header ul li{
    margin: 26px 56px 0px 0px;
}

header ul li:last-child{
    margin-right: 96px;
}

/* main */
/* h1 top-wrapper */

/* header */

body{
    background-color: #FCFCFC;
    font-family: "Noto Sans", sans-serif;
    color: #3B3B3B;
}

header{
    display: flex;
    height: 56px;
    font-size: 16px;
}

header a{
    color: #B2B2B2;
}

.contact-nav{
    color: #3B3B3B;
}

header img{
    margin: 16px auto 0px 96px;
    width: 38px;
    height: 24px;
}

header ul{
    display: flex;
}

header ul li{
    margin: 26px 56px 0px 0px;
}

header ul li:last-child{
    margin-right: 96px;
}

/* header レスポンシブ　*/


*{
    box-sizing: border-box;
}

.logo-media{
    display: none;
}

.header-icon{
    display: none;
}

@media (max-width:375px ) {

    header{
        box-sizing: border-box;
        background-color: #918F89;
        padding: 16px 0px;
        position: relative;
    }

    header ul{
        display: none;
    }

    .logo-pc{
        display: none;
    }

    .logo-media{
        width: 40px;
        display: block;
        margin: 0px auto;
    }

}

/* h1 top-wrapper */

.top-wrapper{
    background-image: url(images/contact_top.png);
    background-size: 100% 100%;
    overflow:hidden;
    height: 456px;
    margin-bottom: 161px;
    position: relative;
}

.top-wrapper h1{
    box-sizing: border-box;
    color: #FCFCFC;
    font-size: 30px;
    letter-spacing: 3px;
    position: absolute;
    top: 192px;
    margin: 0px auto 0px 228px;
    font-weight: normal;
}

/* h1 top-wrapper レスポンシブ　*/
.top-wrapper p{
    display: none;
}

@media (max-width:375px ) {
    .top-wrapper{
        background-position: right 17% bottom;
        background-size: cover;
        margin-bottom: 160px;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        height: 648px;
    }

    .top-wrapper h1{
        position: static;
        font-size: 25px;
        color: #FFFFFF;
        margin: 0 auto;
        letter-spacing: 2.5px;
    }
}

/* contact-wrapper */


.contact-wrapper{
    text-align: center;
    margin-bottom: 320px;
}

.contact-wrapper h2{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2.4px;
    margin-bottom: 40px;
}

.pc-top{
    font-size: 15px;
    letter-spacing: 0.6px;
    margin-bottom: 72px;
}

.contact{
    display: block;
    width: 454px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #707070;
    margin: 0 auto 24px auto;
    color: #3B3B3B;
    opacity: 0.4;
    padding-left: 16px;
    font-size: 12px;
}

.form{
    height: 200px;
    margin-bottom: 40px;
    padding-top: 10px;
    font-family: "Noto Sans", sans-serif;
    resize: none;
}

.contact-submit{
    background-color: #D1D1D1;
    color: #707070;
    padding: 7px 60px;
    border-radius: 16px;
    font-size: 14px;
    letter-spacing: 1.4px;
}

.contact-submit:hover{
    color: #fff;
    background: #918F89;
    cursor: pointer;
}

/* contact-wrapperレスポンシブ */

.contact-media-submit{
    display: none;
}


.media-top{
    display: none;
}

@media (max-width:375px ){
    .contact{
        width: 286px;
        margin-bottom: 16px;
        font-size: 14px;
    }

    .form{
        height: 160px;
        margin-bottom: 32px;
    }

    .contact-submit{
        display: none;
    }

    .contact-media-submit{
        display: inline;
        background-color: #D1D1D1;
        color: #707070;
        padding: 12px 64px;
        font-size: 18px;
        letter-spacing: 0.9px;
        border-radius: 30px;
    }

    .media-top{
        display: block;
        font-size: 25px;
        letter-spacing: 2.5px;
        margin-bottom: 32px;
    }
    
    .pc-top{
        display: none;
    }

    .contact-wrapper h2{
        display: none;
    }

    .contact-wrapper{
        margin-bottom: 240px;
    }
}
/* footer */

footer{
    height: 240px;
    background-color: #918F89;
    position: relative;
    padding: 120px 224px 0px 224px;
    box-sizing:border-box
}

footer img{
    position: absolute;
    top: 120px;
    left: 224px;
    width: 64px;
    height: 40px;
    overflow: hidden;
}

nav{
    margin-bottom: 61px;
}

footer ul{
    display: flex;
}

footer li:first-child{
    margin-left:  auto;
}

footer li{
    margin-right: 32px;
}

footer li:last-child{
    margin-right: 0px;
}

footer a{
    color: #fff;
}

footer p{
    text-align: center;
}

footer small{
    color: #FFFFFF;
    font-size: 11px;
    letter-spacing: 0.44px;
}

/* footerレスポンシブ */
@media (max-width:375px ){

    footer{
        height: 232px;
        padding: 72px 0px 0px 0px;
    }

    footer img{
        position: static;
        display: block;
        width: 51px;
        height: 32px;
        margin: 0 auto;
        margin-bottom: 82px;
    }

    footer ul{
        display: none;
    }

    footer small{
        font-size: 10px;
        letter-spacing: 0.4px;
    }
}